body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: black
    color: aquamarine;
    padding: 20px;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color:black
    color: blueviolet
    padding: 10px;
}
